<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Mini Messaging Board</title>
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <div class="container">
        <% messages.forEach(message => { %>
        <div class="content">
          <h2><%= message.username %></h2>
          <div>
            <p><%= message.message %></p>
          </div>
          <div>
            <p><%= message.date_added %></p>
          </div>

          <a href="/message/<%= message.id %>">Details</a>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
